body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.App {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.username {
  color: green;
}
.heading {
  text-align: left;
  text-decoration: underline;
}
.login-page,
.product-page {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
}
